[Unit]
Description=startup browser
After=graphical.target

[Service]
User=rpi3
WorkingDirectory=/home/rpi3
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser --start-fullscreen 127.0.0.1:8080

[Install]
WantedBy=graphical.target